<h1>Password generation</h1>

	
<p>Please enter your email address to receive a new password for your user!</p>
<% form_for(@password_generator, "/users/send/") do |f| %>

  	<%= f.label :Email %>
 	<%= f.text_field :user_email %>

	<hr/>
  <%= f.submit "Generate", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:sessions, :login), :class => "btn btn-secondary" %>
<% end %>